@*@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section view_title_ad
{
    Quản Lý Sản Phẩm Hiện Tại
}
@section js_ad{
}
@using Demo_Web_Mvc.Models;
@model List<SP_CTModel>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <a href="@Url.Action("CreateSanPham", "SanPhamAD", new { Area = "Admin"})">Thêm mới sản phẩm</a>
                    <div>
                        <p class="text-right text-primary">Có @ViewBag.SoSP sản phẩm</p><div>
                            <table class="table table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Mã SP</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Hình Ảnh</th>
                                        <th>Giá</th>
                                        <th>Nhà Sản Xuất</th>
                                        <th>Thể Loại</th>
                                        <th>Số Lượng</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SP_CTModel sp in Model)
                                    {
                                        <tr>
                                            <td>@sp.spid</td>
                                            <td>@sp.tensp</td>
                                            <td><img src="~/hinhanh/@sp.linkanh" style="width:50px; height:50px;" /></td>
                                            <td>@string.Format("{0:N0},000 đ", sp.gia)</td>
                                            <td>@sp.nsx.TENNSX</td>
                                            <td>@sp.tl.TENTHELOAI</td>
                                            <td>@sp.soluong</td>
                                            <td>
                                             <a href="@Url.Action("ChitietSanPham", "SanPhamAD", new { Area = "Admin",masp = sp.spid, bx = sp.bixoa })"> Chi Tiết</a>
                                             |<a href="@Url.Action("Delete_SP", "SanPhamAD", new { Area = "Admin",masp = sp.spid, tranghientai = ViewBag.curPage })">Xóa</a>
                                                | <a href="@Url.Action("EditSanPhamAD", "SanPhamAD", new { masp = sp.spid })"> Chỉnh Sửa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <nav>
        <ul class="pagination">
            <li @if (ViewBag.curPage == 1) { <text> class="disabled" </text>      }><a href="?curPage=@ViewBag.PrevPage" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li @if (i == ViewBag.curPage) { <text> class="active" </text>     }>
                    <a href="?curPage=@i ">@i</a>
                </li>
            }
            <li @if (ViewBag.NextCuoi == ViewBag.curPage) { <text> class="disabled" </text>      }><a href="?curPage=@ViewBag.NextPage" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>

    </nav>
</div>*@

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section view_title_ad
{
     Quản Lý Sản Phẩm Hiện Tại
}
@section css_ad
{

    <!-- Datatables -->
    <link href="~/Areas/Admin/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
}
@section js_ad{
    <!-- Datatables -->
    <script src="~/Areas/Admin/assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="~/Areas/Admin/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Areas/Admin/assets/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- Datatables -->
<script>
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [
                      {
                          extend: "copy",
                          className: "btn-sm"
                      },
                      {
                          extend: "csv",
                          className: "btn-sm"
                      },
                      {
                          extend: "excel",
                          className: "btn-sm"
                      },
                      {
                          extend: "pdfHtml5",
                          className: "btn-sm"
                      },
                      {
                          extend: "print",
                          className: "btn-sm"
                      },
                    ],
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
            keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
            ajax: "js/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });

        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        TableManageButtons.init();
    });
</script>
<!-- /Datatables -->
}
@using Demo_Web_Mvc.Models;
@model List<SP_CTModel>
<div class="row">
        
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <a href="@Url.Action("CreateSanPham", "SanPhamAD", new { Area = "Admin"})">Thêm mới sản phẩm</a>
            <p class="text-right text-primary">Có @ViewBag.SoSP sản phẩm</p><div>
                
                <table id="datatable-fixed-header" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Mã SP</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Hình Ảnh</th>
                            <th>Giá</th>
                            <th>Nhà Sản Xuất</th>
                            <th>Thể Loại</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SP_CTModel sp in Model)
                        {
                            <tr>
                                <td>@sp.spid</td>
                                <td>@sp.tensp</td>
                                <td><img src="~/hinhanh/@sp.linkanh" style="width:50px; height:50px;" /></td>
                                <td>@string.Format("{0:N0},000 đ", sp.gia)</td>
                                <td>@sp.nsx.TENNSX</td>
                                @*<td>@sp.tl.TENTHELOAI</td>*@
                                <td>
                                    <a href="@Url.Action("ChitietSanPham", "SanPhamAD", new { Area = "Admin",masp = sp.spid, bx = sp.bixoa })"> Chi Tiết</a>
                                    | <a href="@Url.Action("Delete_SP", "SanPhamAD", new { Area = "Admin",masp = sp.spid, tranghientai = ViewBag.curPage })">Xóa</a>
                                    |<a href="@Url.Action("EditSanPhamAD", "SanPhamAD", new { masp = sp.spid })"> Chỉnh Sửa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
