@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Admin/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/assets/jquery-2.2.1.min.js"></script>
    <!-- MetisMenu CSS -->
    <link href="~/Areas/Admin/assets/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/Areas/Admin/assets/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Areas/Admin/assets/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Areas/Admin/assets/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Areas/Admin/assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <script src="~/Areas/Admin/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("css_ad",false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "HomeAD", new { Area ="Admin"})">ADMIN</a>
                <a class="navbar-brand" href="~//Home/Index/"><strong> Trang Bán Hàng</strong></a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li><strong> @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</strong></li>
                <!-- /.dropdown -->
                <li class="dropdown">
                <li><a id="loginLink" href="~//Home/Index/">Thoát</a></li>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        <li>
                            <a href="@Url.Action("Index", "TheLoaiAD", new { Area = "Admin" })"><i class="fa fa-dashboard fa-fw"></i> Thể Loại</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "NhaSanXuatAD", new { Area = "Admin" })"><i class="fa fa-dashboard fa-fw"></i> Nhà Sản Xuất</a>
                        </li>
                        <li>
                            <a href="@Url.Action("SanPhamALLAD", "SanPhamAD", new { Area = "Admin" })"><i class="fa fa-bar-chart-o fa-fw"></i> Sản Phẩm</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("SanPhamDangDung", "SanPhamAD", new { Area = "Admin" })"> Sản Phẩm Hiện Tại</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SanPhamBiXoa", "SanPhamAD", new { Area = "Admin" })">Sản Phẩm Đã Xóa</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ThanhVienAD", new { Area = "Admin" })"><i class="fa fa-table fa-fw"></i> Thành Viên</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-edit fa-fw"></i> Đơn Hàng</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "DonHangAD", new { Area = "Admin" })"> Đã Thanh Toán</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("DHChuaXacNhan", "DonHangAD", new { Area = "Admin" })"> Chưa Thanh Toán</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@RenderSection("view_title_ad",true)</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            @RenderBody()
         </div>
   </div>
  
    @RenderSection("js_ad", false)

</body>
</html>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="~/Areas/Admin/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Admin/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Areas/Admin/assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Areas/Admin/assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Areas/Admin/assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Areas/Admin/assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    @*<link href="~/Areas/Admin/assets/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />*@
    <!-- Custom Theme Style -->
    <link href="~/Areas/Admin/assets/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="~/assets/jquery-2.2.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/Admin/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Areas/Admin/assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    @RenderSection("css_ad", false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="javascript:;" class="site_title"><i class="fa fa-paw"></i> <span>Phước Con!</span></a>
                   
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="~/hinhanh/admin.jpg" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin Chào,</span>
                            <h2>Admin</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Chức Năng</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", "HomeAD", new { Area ="Admin"})">
                                    <i class="fa fa-home"></i> Trang Chủ @*<span class="fa fa-chevron-down">*@</span></a>
                                </li>
                                <li>
                                    <a ><i class="fa fa-edit"></i> Thể Loại <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "TheLoaiAD", new { Area = "Admin" })">Tất Cả Thể Loại</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Nhà Sản Xuất <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "NhaSanXuatAD", new { Area = "Admin" })">Tất Cả Danh Mục</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Sản Phẩm <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("SanPhamDangDung", "SanPhamAD", new { Area = "Admin" })">Sản Phẩm Hiện Tại</a></li>
                                        <li><a href="@Url.Action("SanPhamBiXoa", "SanPhamAD", new { Area = "Admin" })">Sản Phẩm Đã Xóa</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Đơn Hàng <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "DonHangAD", new { Area = "Admin" })">Đã Thanh Toán</a></li>
                                        <li><a href="@Url.Action("DHChuaXacNhan", "DonHangAD", new { Area = "Admin" })">Chưa Thanh Toán</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>Thành Viên <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "ThanhVienAD", new { Area = "Admin" })">Tất Cả Các Thành Viên</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/hinhanh/admin.jpg" alt="">Admin
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @*<li><a href="javascript:;"> Profile</a></li>*@
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Cài Đặt</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Trợ Giúp</a></li>
                                    <li><a id="loginLink" href="~//Home/Index//"><i class="fa fa-sign-out pull-right"></i>Thoát</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="~//Home/Index//">
                                    Trang Bán Hàng
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="page-title">
                        <div class="title_left" >
                            <h3>@RenderSection("view_title_ad", true)</h3>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Quản Lý Admin - <strong> @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</strong> <a href="javascript:;">Phước Con</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @RenderSection("js_ad", false)
    


    <!-- FastClick -->
    <script src="~/Areas/Admin/assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Areas/Admin/assets/vendors/nprogress/nprogress.js"></script>

    <!-- iCheck -->
    <script src="~/Areas/Admin/assets/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Areas/Admin/assets/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Areas/Admin/assets/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Areas/Admin/assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Areas/Admin/assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Areas/Admin/assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Areas/Admin/assets/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Areas/Admin/assets/js_main/flot/jquery.flot.orderBars.js"></script>
    <script src="~/Areas/Admin/assets/js_main/flot/date.js"></script>
    <script src="~/Areas/Admin/assets/js_main/flot/jquery.flot.spline.js"></script>
    <script src="~/Areas/Admin/assets/js_main/flot/curvedLines.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Areas/Admin/assets/js_main/moment/moment.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Areas/Admin/assets/build/js/custom.min.js"></script>
    <!-- Flot -->
    <script>
        $(document).ready(function () {
            var data1 = [
              [gd(2012, 1, 1), 17],
              [gd(2012, 1, 2), 74],
              [gd(2012, 1, 3), 6],
              [gd(2012, 1, 4), 39],
              [gd(2012, 1, 5), 20],
              [gd(2012, 1, 6), 85],
              [gd(2012, 1, 7), 7]
            ];

            var data2 = [
              [gd(2012, 1, 1), 82],
              [gd(2012, 1, 2), 23],
              [gd(2012, 1, 3), 66],
              [gd(2012, 1, 4), 9],
              [gd(2012, 1, 5), 119],
              [gd(2012, 1, 6), 6],
              [gd(2012, 1, 7), 9]
            ];
            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
              data1, data2
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [1, "day"],
                    //tickLength: 10,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                },
                yaxis: {
                    ticks: 8,
                    tickColor: "rgba(51, 51, 51, 0.06)",
                },
                tooltip: false
            });

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }
        });
    </script>
    <!-- /Flot -->

    <!-- Skycons -->
    <script>
        $(document).ready(function () {
            var icons = new Skycons({
                "color": "#73879C"
            }),
              list = [
                "clear-day", "clear-night", "partly-cloudy-day",
                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                "fog"
              ],
              i;

            for (i = list.length; i--;)
                icons.set(list[i], list[i]);

            icons.play();
        });
    </script>
    <!-- /Skycons -->

   

</body>
</html>